
<br>
<h1 class="display-1" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">Vision</h1>
<h1 class="display-5" style="text-align: center; font-weight: lighter; text-decoration: whitesmoke; font-family: AlexB;">Fine Dining</h1>
<hr>


<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div style ="text-align: center;" class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
      
    </div>
    <div class="carousel-caption">
      <h3>Great View</h3>
      <p>Located atop The Monongahela Incline, we offer a beutiful view of Pittsburgh</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style ="text-align: center;" class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Fast Service</h3>
      <p>Our team of chefs work hard to prepare your order as fast as possible</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style ="text-align: center;" class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Great food</h3>
      <p>Our food is prepared by the finest chefs and seasoned to perfection</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style ="text-align: center;" class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random fourth slide">
    </div>
    <div class="carousel-caption">
      <h3>Great Presentation</h3>
      <p>Our chefs our trained to present our food in the most appatizing way possible</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style ="text-align: center;" class="picsum-img-wrapper">
      <img [src]="images[4]" alt="Random fifth slide">
    </div>
    <div class="carousel-caption">
      <h3>Fresh Food</h3>
      <p>All food cooked on site, nothing prepackaged</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style ="text-align: center;" class="picsum-img-wrapper">
      <img [src]="images[5]" alt="Random sixth slide">
    </div>
    <div class="carousel-caption">
      <h3>Great for events</h3>
      <p>Rent out private rooms that sit up to 100 people</p>
    </div>
  </ng-template>
</ngb-carousel>  


<br>
<br>

<div class="about">
     <p>Vision is a high class resteraunt located in the Pittsburgh area. Located at the top of The Monongahela Incline, we offer fine dining with a great view of the city.</p><p style="color: red;">Due to the outbreak of Covid-19 we will no longer be offering sit-down service until further notice. Instead, we will be offering free pickup and delivery. We appologize for the inconvenience</p>
   <div class = "photo"></div>
</div>


<br>
<br>
<br>
<br>