
.about{
    text-align: center;
    padding: 5px;
    border: solid rgba(30, 27, 26, 0.81) ;
    width: 800px;
    height: 700px;
    margin: auto;
    /* background-color: rgba(186, 204, 216, 0.2); */
  }
  
  h3{
   font-family: AlexB; 
   font-size: 50px;
  }

  p{
    font-family: Cormo1; 
    font-size: larger;
    font-style: italic;
  }
  
  .photo{
    border: solid red;
    height: 65%;
    width: 500px;
    padding: 5px;
    /* background-image: url('/assets/Fine-Dining.jpg'); */
    display: inline-block;
  }

  .slick-slider {  
    width: 90%;  
    margin: auto;  
  } 

  img{
    height: 500px;
    width: 60%;
  }