<br>
<br>
<app-verticaltitle></app-verticaltitle>

    <div style="text-align: center;">
        <h1 style="font-family: Cormo1; font-style: italic; text-decoration: underline;" >Submit Address</h1>
    <button type="button" class="btn btn-primary" style="font-family: Cormo1;" *ngIf = "showButton !== 'noshow'" (click) = "ViewAddAddress(); showBButton()">Add Address</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary" style="font-family: Cormo1;" *ngIf = "showButton !== 'noshow'" (click) = "showBButton(); viewMyAddress()">View my Addresses</button>
    
    <div *ngIf="!showPayment()" id="addressform" style = "display:none">
        <!-- <div id="addressform"> -->
        <div style="width: 800px; position: absolute; left: 21.5vw;">
            <form class="text-center border border-light p-5">
                <p style="font-family: Cormo1;" class="h4 mb-4">Add address</p>
        <input type="text"  class="form-control mb-4" style="font-family: Cormo1;" placeholder="Street" [(ngModel)] = "address" [ngModelOptions]="{standalone: true}">
        <input type="text"  class="form-control mb-4" style="font-family: Cormo1;" placeholder="Line 2" [(ngModel)] = "address2" [ngModelOptions]="{standalone: true}">
        <input type="text"  class="form-control mb-4" style="font-family: Cormo1;" placeholder="City" [(ngModel)] = "city" [ngModelOptions]="{standalone: true}">
        <input type="text"  class="form-control mb-4" style="font-family: Cormo1;" placeholder="State" [(ngModel)] = "state" [ngModelOptions]="{standalone: true}">
        <input type="text"  class="form-control mb-4" style="font-family: Cormo1;" placeholder="Zip" [(ngModel)] = "zipcode" [ngModelOptions]="{standalone: true}">
        <input type="text"  class="form-control mb-4" style="font-family: Cormo1;" placeholder="Special Instructions" [(ngModel)] = "comments" [ngModelOptions]="{standalone: true}">

        <button type="button" class="btn btn-primary" style="font-family: Cormo1;" (click) = "addAddress() ; viewBillOnSubmit()">Submit</button>
        <br>
        <br>
        <button *ngIf = "showBill == 'Show Bill'" type="button" class="btn btn-primary" style="font-family: Cormo1;" routerLink = 'makepayment'>Pay Bill</button>  
        </form>
        </div>
   
<!-- <div >
    <table>
        <tr style="text-align: center;">
            <th>Address</th>
            <th>Instructions</th>
            <th>Action</th>
        </tr>
        <tr *ngFor = "let p of addressList">
            <td> {{p.address}} </td>
            <td>  {{p.address2}} </td>
            <td> {{p.city}} </td>
            <td> {{p.state}} </td>
            <td> {{p.zipcode}}</td>
            <td>{{p.SpecInstr}</td>
            <td><button (click)="EditMyAddress(this)">Edit Address </button>    
                <button (click)="deleteMyAddress(this)">Delete</button>   
             </td>
        </tr>
    </table>
</div> -->
    
<br>
<br>
<br>
<br>

