
<p>
    <table>
        <tr>
            <th>Address</th>
            <th>Instructions</th>
            <th>Action</th>
        </tr>
        <tr *ngFor = "let p of addressList">
            <td>{{p.number}} {{p.streetName}}
                {{p.line2}}
                {{p.city}} {{p.state}}, {{p.postal}}
            </td>
            <td>{{p.SpecInstr}</td>
            <td><button (click)="EditMyAddress()">Edit Address </button>    
                <button (click)="deleteMyAddress()">Delete</button>   
             </td>
        </tr>
    </table>
    <button (click) = "ViewAddAddress()"> Add Addresses</button>
    <div>
    <input type="number" [(ngModel)] = "number" (input) = "validateInputFields()">
    <input type="text" [(ngModel)] = "streetName" (input) = "validateInputFields()">
    <input type="text" [(ngModel)] = "line2" (input) = "validateInputFields()">
    <input type="text" [(ngModel)] = "city" (input) = "validateInputFields()">
    <input type="text" [(ngModel)] = "state" (input) = "validateInputFields()">
    <input type="number" [(ngModel)] = "postal" (input) = "validateInputFields()">
    <input type="text" [(ngModel)] = "specialInstructions" (input) = "validateInputFields()">
    <button (click) = "addPokemon()">Add Pokemon</button>
    <p *ngIf="!valid">You have invalid fields!</p>
</div>    
    <button (click)="Pay()">View Your Forms</button>    
