<br>
<br>
<app-verticaltitle></app-verticaltitle>
<div style="width: 500px; height: 500px; position: absolute; left: 32vw;">
  <br>
<form class="text-center border border-light p-5">
  <p style="font-family: Cormo1; font-size: xx-large;" class="h4 mb-4">Sign in</p>

  <input style="font-family: Cormo1; font-size: large;" type="text" id="username" [(ngModel)] = "username" class="form-control mb-2" placeholder="Username" [ngModelOptions]="{standalone: true}">

  <input style="font-family: Cormo1; font-size: large;" type="password" id="password" [(ngModel)] = "password" class="form-control mb-2" placeholder="Password" [ngModelOptions]="{standalone: true}">

 
  <button style="font-family: Cormo1; font-size: large;" type="button" (click)="login()" class="btn btn-primary">Sign in</button>

  <p style="font-family: Cormo1;">Not a member?
    <a href routerLink = "registeruser" >Register</a>
  </p>
</form>
</div>

<router-outlet></router-outlet>