<div class = right>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">V</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">I</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">S</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">I</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">O</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">N</h1>
</div>

<div class="left">
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">V</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">I</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">S</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">I</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">O</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: Cormo1;">N</h1>
</div>