<div class = right>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">V</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">I</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">S</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">I</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">O</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">N</h1>
</div>

<div class="left">
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">V</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">I</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">S</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">I</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">O</h1>
    <h1 class="display-3" style="text-align: center; font-weight: bolder; text-transform: uppercase; font-family: CinzelD;">N</h1>
</div>