<table width = 700 style = "margin: auto;">
    <tr  *ngIf = "order.productname1 != null">
        <td><img src = "{{'/assets/Images/' + order.productname1 + '.jpg'}}" width = 150></td>
        <td width = 100>{{order.productname1}}</td>
        <td><button (click) = "remove(1)">Remove</button></td>
    </tr>

    
    <tr><td></td>
    <td style = "text-align: right">
        Total:<br>{{order.price | currency: 'USD'}}
    </td>
    <td><a routerLink = "payment"><button>Checkout</button></a></td></tr>
</table>
<router-outlet></router-outlet>
sams component