body,html {
    margin: 0;
    padding: 0;
    height : 100%;
    width: 100%;
    /* background-image: url('/assets/download.png'); */
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo);
    background-position: center;
    /* background-repeat: no-repeat; */
    /* mirroe each repeat */
    /* vertical gradient */
    background-size: cover;
   
  }