@import "~bootstrap/dist/css/bootstrap.css";
@font-face{
  src: url(assets/fonts/Cinzel/Cinzel-Regular.ttf);
  font-family: Cinzel;
}

@font-face{
  src: url(assets/fonts/Viaoda_Libre/ViaodaLibre-Regular.ttf);
  font-family: Viaoda;
}

@font-face{
  src: url(assets/fonts/Alex_Brush/AlexBrush-Regular.ttf);
  font-family: AlexB;
}

@font-face{
  src: url(assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf);
  font-family: CinzelD;
}

@font-face{
  src: url(assets/fonts/Cormorant_Infant/CormorantInfant-SemiBoldItalic.ttf);
  font-family: Cormo;
}

@font-face{
  src: url(assets/fonts/Cormorant_Infant/CormorantInfant-Regular.ttf);
  font-family: Cormo1;
}

body,html {
    margin: 0;
    padding: 0;
    background-image: url('/assets/Images/nordwood-themes-KcsKWw77Ovw-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    
    
   
  }




  
 
