
<div class="container">
    <img src="/assets/Fine-Dining.jpg">
</div>
    <div class="topnav">
    <ul>
       <li><a routerLink = "rome" >Rome Page</a></li> 
       <li><a routerLink = "sam" >Sam Page</a></li> 
       <li><a routerLink = "casey" >Casey Page</a></li> 
       <li><a routerLink = "joel" >Joel Page</a></li> 
       <li><a routerLink = "matt" >Matt Page</a></li> 
       <li> <a routerLink = "" >Home Page</a></li> 
       <button (click) = "showAbout()"></button>
    </ul>
  </div>

   
<div class="navbottom">
    <ul>
        <li class = "second"><a routerLink = "rome" >Contact us</a></li>
        <li class = "second"><a routerLink = "casey" >Leave a Review</a></li>
        <li class = "second"><a routerLink = "sam" >Menu</a></li>
    </ul>
</div>

<div class="topleft">
   <p id = "title">V</p>
   <p id = "title">I</p>
   <p id = "title">S</p>
   <p id = "title">I</p>
   <p id = "title">O</p>
   <p id = "title">N</p>
   <p id = "title2">Fine Dining</p>
</div>

<div class="topright"><a routerLink = "login">Login</a></div>

<br><br>

  <div class="about">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class = "photo"></div>
  </div>
  

   

<br>      
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>


  
  