<div style="padding-left: 15%;border: 10px;">
<div style="width: 25vw; float: left;">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Chef de Cuisine">
          <ng-template ngbPanelContent>
            <img src="{{'/assets/Images/Jerome.png'}}" width=440>
            The King of Flavor, Chef de Cuisine never dissapoints.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>About Chef</b> &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            As the chef de cuisine, David Breeden leads the day-to-day operations of The French Laundry kitchen, carrying on the commitment to excellence and collaborative spirit that have made the restaurant what it is today. Like the chefs de cuisine he trained under, Corey Lee, Jonathan Benno and Eli Kaimeh, David is a product of a culinary culture shaped by a sense of community and Thomas Keller’s mentorship. David first staged at The French Laundry in 2005, parlaying that role into a permanent position as the kitchen’s butcher and later chef de partie. In 2006 he assumed the post of chef de partie at Per Se in New York, where, in the course of a six-year tenure, he rose to the role of executive sous chef.
Born and raised in East Tennessee, David grew up exposed to a wide range of culinary styles including traditional Appalachian, low-country and French cuisines. He attended the Charleston, South Carolina, Johnson & Wales University program before working at some of Charleston’s finest restaurants, including The Charleston Grill, McCrady’s and Woodland’s Resort and Inn. 
A genuine love of food and an appreciation for the communal pleasures of dining drew David to the profession. From the start of his career at The French Laundry, he has dedicated himself to communicating Chef Keller’s philosophy and executing his culinary vision. In his latest role, which he assumed in 2012, David looks forward to leading the next generation of young chefs in creating the best experiences for guests at The French Laundry.

          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div style="width: 25vw;float: left;">
      
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Le Joel">
          <ng-template ngbPanelContent>
            <img src="{{'/assets/Images/Joel.jpeg'}}" width=440; height="300">
            The life of any event and knows the right drink for any occasion.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>About Joel</b> &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div style="width: 25vw;float: left;">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Sam Segee">
          <ng-template ngbPanelContent>
            <img src="{{'/assets/Images/Sam.png'}}" width=440>
            A cool guy, the best out of the group. *Winky Face*
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>About Sam</b> &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            I’m a May 2019 graduate from the University of Maine with a degree in computer science. While I was there,
             I learned many programming languages including C#, C, Java, Python, and Perl. Some relevant classes include two Unity classes, 
             a Programming Languages class, and an Operating Systems class. I believe I have enough experience learning new languages to be able to learn a new language within a reasonably short time frame. I have six years of programming experience and five years of game design. 
            I’m a founding member and former president of The Game Developers' Guild at The University of Maine
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div style="width: 25vw; float: left;">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Casey Hanley">
          <ng-template ngbPanelContent>
            <img src="{{'/assets/Images/omg.png'}}" width=440>
            The King of Flavor, Chef de Cuisine never dissapoints.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>About Chef</b> &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            As the chef de cuisine, David Breeden leads the day-to-day operations of The French Laundry kitchen, carrying on the commitment to excellence and collaborative spirit that have made the restaurant what it is today. Like the chefs de cuisine he trained under, Corey Lee, Jonathan Benno and Eli Kaimeh, David is a product of a culinary culture shaped by a sense of community and Thomas Keller’s mentorship. David first staged at The French Laundry in 2005, parlaying that role into a permanent position as the kitchen’s butcher and later chef de partie. In 2006 he assumed the post of chef de partie at Per Se in New York, where, in the course of a six-year tenure, he rose to the role of executive sous chef.
Born and raised in East Tennessee, David grew up exposed to a wide range of culinary styles including traditional Appalachian, low-country and French cuisines. He attended the Charleston, South Carolina, Johnson & Wales University program before working at some of Charleston’s finest restaurants, including The Charleston Grill, McCrady’s and Woodland’s Resort and Inn. 
A genuine love of food and an appreciation for the communal pleasures of dining drew David to the profession. From the start of his career at The French Laundry, he has dedicated himself to communicating Chef Keller’s philosophy and executing his culinary vision. In his latest role, which he assumed in 2012, David looks forward to leading the next generation of young chefs in creating the best experiences for guests at The French Laundry.

          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>