.about{
    text-align: center;
    padding: 5px;
    border: solid rgba(30, 27, 26, 0.81) ;
    width: 800px;
    height: 400px;
    margin: auto;
  }
  
  
  .photo{
    border: solid red;
    height: 65%;
    width: 500px;
    padding: 5px;
    background-image: url('/assets/Fine-Dining.jpg');
    display: inline-block;
  }