div{
    text-align: center;
}

h2{
    /* font-family: AlexB; */
    font-style: italic; 
    font-family: Cormo1;
}

.clr:hover{
    src: "/assets/Images/submit-order-onhover.jpg";
    width: 150px;
    height: 50px;
}





   
