<br>

<app-verticaltitle></app-verticaltitle>

<div>
    <h1 style="font-family: Cormo1; font-style: italic;">~ Place your order ~</h1>
</div>

<div>
    <h2>Starters</h2>
    <table align="center">
        <tr>
            <th><img src="\assets\Images\Breadsticks.jpg" width=150></th>
            <th><img src="\assets\Images\Crab and Avocado Toasts.jpg" width=150></th>
            <th><img src="\assets\Images\Bruschetta.jpg" width=150></th>

        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Breadsticks</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Crab and Avocado
                Toasts</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Bruschetta </td>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $2.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $13.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $15.99</td>
        </tr>
        <tr>
           <td><button style="font-family: Cormo1;" type="button" (click)="selectStarter(1)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectStarter(2)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectStarter(3)"
                    class="btn btn-primary">Select</button></td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td style="text-align: center; font-family: Cormo1;"><button (click)="subtractStarter();">-</button>
                {{starterQuantity}} <button (click)="addStarter()">+</button></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">{{starterName}}
                Quantity</td>
            <td></td>
        </tr>
    </table>
    <br>
    <h2>Appetizers</h2>
    <table align="center">
        <tr>
            <th><img src="\assets\Images\Scallop Carpaccio.jpg" width=150></th>
            <th><img src="\assets\Images\Poached Lobster Tail.jpg" width=150></th>
            <th><img src="\assets\Images\Caviar.jpg" width=150></th>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Scallop
                Carpaccio</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Poached Lobster
                Tail</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Caviar</td>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $12.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $18.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $21.99</td>
        </tr>
        <tr>
             <td><button style="font-family: Cormo1;" type="button" (click)="selectAppetizer(1)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectAppetizer(2)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectAppetizer(3)"
                    class="btn btn-primary">Select</button></td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td style="text-align: center; font-family: Cormo1;"><button (click)="subtractAppetizer();">-</button>
                {{appetizerQuantity}} <button (click)="addAppetizer()">+</button></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">
                {{appetizerName}} Quantity</td>
            <td></td>
        </tr>
    </table>
    <br>
    <h2>Soups</h2>
    <table align="center">
        <tr>
            <th><img src="\assets\Images\Asparagus Soup.jpg" width=150></th>
            <th><img src="\assets\Images\French Onion Soup.jpg" width=150></th>
            <th><img src="\assets\Images\Coconut Chicken Soup.jpg" width=150></th>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Asparagus Soup
            </td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">French Onion
                Soup</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Coconut Chicken
                Soup</td>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $5.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $5.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $6.99</td>
        </tr>
        <tr>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectSoup(1)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectSoup(2)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectSoup(3)"
                    class="btn btn-primary">Select</button></td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td style="text-align: center; font-family: Cormo1;"><button (click)="subtractSoup();">-</button>
                {{soupQuantity}} <button (click)="addSoup()">+</button></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">{{soupName}}
                Quantity</td>
            <td></td>
        </tr>
    </table>
    <br>
    <h2>Salads</h2>
    <table align="center">
        <tr>
            <th><img src="\assets\Images\Arugula Salad.jpg" width=150></th>
            <th><img src="\assets\Images\Garden Salad.jpg" width=150></th>
            <th><img src="\assets\Images\Caesar Salad.jpg" width=150></th>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Arugula Salad
            </td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Garden Salad
            </td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Caesar Salad
            </td>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $11.49</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $8.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $8.99</td>
        </tr>
        <tr>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectSalad(1)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectSalad(2)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectSalad(3)"
                    class="btn btn-primary">Select</button></td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td style="text-align: center; font-family: Cormo1;"><button (click)="subtractSalad();">-</button>
                {{saladQuantity}} <button (click)="addSalad()">+</button></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">{{saladName}}
                Quantity</td>
            <td></td>
        </tr>
    </table>
    <br>
    <h2>Main Courses</h2>
    <table align="center">
        <tr>
            <th><img src="\assets\Images\Lobster Stuffed Crab.jpg" width=150></th>
            <th><img src="\assets\Images\Ribeye Steak Special.jpg" width=150></th>
            <th><img src="\assets\Images\Grilled Salmon Pasta.jpg" width=150></th>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Lobster Stuffed
                Crab</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Ribeye Steak
                Special</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Grilled Salmon
                Pasta</td>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $28.49</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $33.79</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $25.99</td>
        </tr>
        <tr>
             <td><button style="font-family: Cormo1;" type="button" (click)="selectMain(1)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectMain(2)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectMain(3)"
                    class="btn btn-primary">Select</button></td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td style="text-align: center; font-family: Cormo1;"><button (click)="subtractMaincourse();">-</button>
                {{maincourseQuantity}} <button (click)="addMaincourse()">+</button></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">
                {{maincourseName}} Quantity</td>
            <td></td>
        </tr>
    </table>
    <br>
    <h2>Desserts</h2>
    <table align="center">
        <tr>
            <th><img src="\assets\Images\Strawberry Shortbread.jpg" width=150></th>
            <th><img src="\assets\Images\Red Velvet Cake.jpg" width=150></th>
            <th><img src="\assets\Images\Chocolate Mousse.jpg" width=150></th>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Strawberry
                Shortbread</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Red Velvet Cake
            </td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Chocolate Mousse
            </td>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $9.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $9.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $9.99</td>
        </tr>
        <tr>
             <td><button style="font-family: Cormo1;" type="button" (click)="selectDessert(1)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectDessert(2)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectDessert(3)"
                    class="btn btn-primary">Select</button></td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td style="text-align: center; font-family: Cormo1;"><button (click)="subtractDessert();">-</button>
                {{dessertQuantity}} <button (click)="addDessert()">+</button></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">{{dessertName}}
                Quantity</td>
            <td></td>
        </tr>
    </table>
    <br>
    <h2>Beverages</h2>
    <table align="center">
        <tr>
            <th><img src="\assets\Images\Iced Mocha Latte.jpg" width=150></th>
            <th><img src="\assets\Images\Mai-Tai.jpg" width=150></th>
            <th><img src="\assets\Images\Pina Colada.jpg" width=150></th>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Iced Mocha Latte
            </td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Mai-Tai</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Pina Colada</td>
        </tr>
        <tr>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $7.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $11.99</td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1;">Price: $12.99</td>
        </tr>
        <tr>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectBeverage(1)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectBeverage(2)"
                    class="btn btn-primary">Select</button></td>
            <td><button style="font-family: Cormo1;" type="button" (click)="selectBeverage(3)"
                    class="btn btn-primary">Select</button></td>
        </tr>
     
        <br>
        <tr>
            <td></td>
            <td style="text-align: center; font-family: Cormo1;"><button (click)="subtractBeverage();">-</button>
                {{beverageQuantity}} <button (click)="addBeverage()">+</button></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td
                style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger; font-size: larger;">
                {{beverageName}} Quantity</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center; font-style: italic; font-family: Cormo1; font-size: larger;">Current Price:
                {{finalPrice | currency: 'USD'}}</td>
        </tr>


    </table>
    <br>


   <button style="font-family: Cormo1;" type="button" (click)="submitOrder(); viewCartOnSubmit()"
        class="btn btn-primary">Submit Order</button>

    <br>
    <br>
    <h5 *ngIf="viewCart == 'View Cart'" style="font-style: italic; font-family: Cormo1; font-size: larger;">Order Placed
        ! View Cart <a href="viewcart">Here</a></h5>



</div>
<br>
<br>
<br>
<br>
<br>
<br>