div{
    text-align: center;
    

}

/* th{
    text-align: center;
}
tr{
    text-align: center;
}
td{
    text-align: center;
} */

h2{
    /* font-family: AlexB; */
    font-style: italic; 
    font-family: Cormo1;
}
