<p>joel works!</p>
<!--- payment info
    - pick an address
    - review their item list-->

<h2>Payment Info</h2>
<h4>Credit Card Number</h4>
<input type="number">
<h4>Expiration Date</h4>
<input type="text">
<h4>Cardholder Name</h4>
<input type="text">

<h2>Enter an Address</h2>
<!-- Select Existing Address (button)
     New Address (button) -->

<input type="text">


<h2>Review Checkout</h2>
<p>(List variable of their items goes here)</p>

<button (click) = "submitCC()">Submit Order</button>
<h4>{{cardPaid}}</h4>