<br>
<br>
<app-verticaltitle></app-verticaltitle>
<div class = "centerpage">
    <h1  style="font-style: italic; font-family: Cormo1;">Thank for visiting</h1>
    <h3  style="font-style: italic; font-family: Cormo1;">Come back soon !</h3>
    <h4  style="font-style: italic; font-family: Cormo1;">Follow our social media below</h4>
    <a href="https://food.ndtv.com/food-drinks/the-fine-dining-guide-basic-restaurant-etiquette-one-should-follow-1200998"><h5  style="font-style: italic; font-family: Cormo1;">Fine dining tips</h5></a>
    
 <br>
<div>
    <a href = "https://twitter.com/VisionPgh"><img style ="width: 70px; height: 30px;" class = clr src="\assets\Images\twitter.png"> </a>
    <a href = "https://www.facebook.com/Vision-108326030850125/"><img style ="width: 70px; height: 30px;" class = clr src="\assets\Images\facebook.png"> </a>
    <a href = "https://www.instagram.com/visionpgh/"><img style ="width: 70px; height: 30px;" class = clr src="\assets\Images\instagram.png"> </a>
</div>
</div>
