<br>
<br>
<app-verticaltitle></app-verticaltitle>
<div style="width: 500px; height: 500px; position: absolute; left: 32vw;">

<form class="text-center border border-light p-5">

    <p style="font-family: Cormo1; font-size: xx-large;" class="h4 mb-4">Contact us</p>
  
    <input style="font-family: Cormo1; font-size: large;" type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
  
    <input style="font-family: Cormo1; font-size: large;" type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
  
   
    <label style="font-family: Cormo1; font-size: large;">Subject</label>
    <select style="font-family: Cormo1; font-size: large;" class="browser-default custom-select mb-4">
      
      <option value="" selected>Choose Option</option>
      <option value="1">Career Options</option>
      <option value="2">Catering</option>
      <option value="3">Report bad service</option>
    </select>
  
    
    <div class="form-group">
      <textarea style="font-family: Cormo1; font-size: large;" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
    </div>
  

  
  
    <button style="font-family: Cormo1;" type="button" (click)="callAlert()" class="btn btn-primary">Select</button>
    <!-- add function to add message to database -->
  
  </form>

</div>